<a href="https://colab.research.google.com/github/Talibsid-1996/imdbDataset/blob/main/EDA_IMdb_Data_Wrangling.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## <u> Use only those concepts which have been taught till now </u>

In [ ]:
import numpy as np
import pandas as pd

In [ ]:
from google.colab import drive 
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
imdb_df = pd.read_csv('/content/drive/MyDrive/Copy of imdb_data (1).csv')

# <b><u> Problem 1: </u> Which actor has acted in the most number of movies? Deep dive into the movies, genres and profits corresponding to this actor. </b>

In [ ]:
# Your code here
imdb_df.columns

Index(['id', 'belongs_to_collection', 'budget', 'genres', 'homepage',
       'imdb_id', 'original_language', 'original_title', 'overview',
       'popularity', 'poster_path', 'production_companies',
       'production_countries', 'release_date', 'runtime', 'spoken_languages',
       'status', 'tagline', 'title', 'Keywords', 'cast', 'crew', 'revenue'],
      dtype='object')

In [ ]:
columns_to_keep = ['budget','genres','imdb_id','original_title','cast','crew','revenue']

In [ ]:
imdb_df1 = imdb_df[columns_to_keep]

In [ ]:
# changing string to a list(columns = cast,crew,genres)
def string_to_list(str):
  return eval(str)

In [ ]:
imdb_df1.loc[~imdb_df1['cast'].isna(),'cast'] = imdb_df1.loc[~imdb_df1['cast'].isna(),'cast'].apply(string_to_list)

In [ ]:
imdb_df1.loc[~imdb_df1['crew'].isna(),'crew'] = imdb_df1.loc[~imdb_df1['crew'].isna(),'crew'].apply(string_to_list)

In [ ]:
imdb_df1.loc[~imdb_df1['genres'].isna(),'genres'] = imdb_df1.loc[~imdb_df1['genres'].isna(),'genres'].apply(string_to_list)

In [ ]:
imdb_df1.describe()

In [ ]:
# replace low budget value with median 
imdb_df1.loc[imdb_df1['budget'] < 1000, 'budget'] = imdb_df1.loc[imdb_df1['budget'] >= 1000 ,'budget'].median()
imdb_df1.loc[imdb_df1['revenue'] < 1000, 'revenue'] = imdb_df1.loc[imdb_df1['revenue'] >= 1000 ,'revenue'].median()

In [ ]:
imdb_df1['profit'] = imdb_df1['revenue'] - imdb_df1['budget']

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [ ]:
imdb_not_null_df = imdb_df1.dropna()

In [ ]:

actor_list = []
for i,j in imdb_not_null_df.iterrows():
  for ele in (imdb_not_null_df.loc[i,'cast']):
    if type(ele) == dict:
      actor_list.append(ele['name'])

In [ ]:
top_actor_name = pd.DataFrame(actor_list,columns = ['actors_name']).value_counts().reset_index().head(3)
top_actor_name

         actors_name   0
0  Samuel L. Jackson  30
1     Robert De Niro  30
2     Morgan Freeman  27

In [ ]:
no_null_df = imdb_df1.dropna()

In [ ]:
movie1 = []
movie2 = []

profit1 = []
profit2 = []

for index,j in no_null_df.iterrows():
  for ele in (no_null_df.loc[index,'cast']):
    if type(ele) == dict:
      actor = ele['name']
      if 'Samuel L. Jackson' in actor:
        movie1.append(no_null_df.loc[index,'original_title'])
        profit1.append(no_null_df.loc[index,'profit'])

      if 'Robert De Niro' in actor:
        movie2.append(no_null_df.loc[index,'original_title'])
        profit2.append(no_null_df.loc[index,'profit'])

In [ ]:
#creating a loop to get the genres for Robert and Samuel
gener_s=[]
a=[]
for i in range(len(movie1)):
  for g in no_null_df.loc[i,'genres']:
    a.append(g['name'])
    
  gener_s.append(a)
  a=[]

gener_r=[]
b=[]
for i in range(len(movie2)):
  for g in no_null_df.loc[i,'genres']:
    b.append(g['name'])
    
  gener_r.append(b)
  b=[]

In [ ]:
# creating dataframe for Samuel L. Jackson in genre,movie,profit

mov1 = pd.DataFrame(movie1,columns = ['movie_name'])
prof1 = pd.DataFrame(profit1,columns = ['total_profit'])
gen1 = pd.DataFrame(np.array(gener_s).flatten(),columns = ['genre'])

In [ ]:
movies_by_samul_jackson = pd.concat([mov1,prof1,gen1],axis =1)
movies_by_samul_jackson.sort_values('total_profit',ascending = False)

,movie_name,total_profit,genre
5,The Avengers,1299557910,"[Animation, Adventure, Family]"
24,Avengers: Age of Ultron,1125403694,"[Horror, Comedy]"
11,Jurassic Park,857100000,[Comedy]
3,Star Wars: Episode III - Revenge of the Sith,737000000,"[Thriller, Drama]"
15,Captain America: The Winter Soldier,544766572,"[Action, Crime, Drama]"
23,The Incredibles,539442092,"[Thriller, Mystery, Foreign]"
13,Star Wars: Episode II - Attack of the Clones,529398328,"[Comedy, Crime]"
2,Coming to America,249752301,[Drama]
6,Jumper,137231186,"[Horror, Thriller]"
26,Patriot Games,133051587,"[Crime, Drama, Mystery, Thriller]"
10,RoboCop,122688965,[Drama]
1,The Hateful Eight,111760117,"[Comedy, Drama, Family, Romance]"
20,Sea of Love,91879513,"[Adventure, Family, Science Fiction]"
7,Shaft,61196498,[Documentary]
0,Changing Lanes,49935764,[Comedy]
27,S.W.A.T.,36643346,"[Drama, Comedy, Romance]"
14,Eddie Murphy Raw,34054655,"[Action, Thriller, Science Fiction, Mystery]"
25,Out of Sight,29745568,"[Comedy, Horror, Mystery, Thriller]"
8,Snakes on a Plane,29022014,"[Action, Comedy, Music, Family, Adventure]"
16,Jackie Brown,27673162,"[Horror, Thriller]"
29,The Long Kiss Goodnight,24456761,"[Action, Adventure, Crime, Thriller]"
21,Deep Blue Sea,13648228,"[Horror, Thriller]"
4,Meeting Evil,1037531,"[Action, Thriller]"
18,Big Game,-1000000,"[Comedy, Romance]"
17,African Cats,-1209544,"[Drama, Romance]"
9,The Man,-4067638,"[Comedy, Music]"
19,Black Snake Moan,-4096154,"[Action, Thriller, Crime]"
22,Basic,-7207439,"[Thriller, Horror]"
12,Cell,-15316969,[Drama]
28,Freedomland,-23009372,[Animation]

In [ ]:
# creating dataframe for robert d niro in genre,movie,profit

mov2 = pd.DataFrame(movie2,columns = ['movie_name'])
prof2 = pd.DataFrame(profit2,columns = ['total_profit'])
gen2 = pd.DataFrame(np.array(gener_r).flatten(),columns = ['genre'])

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:5: VisibleDeprecationWarning: Creating an ndarray from ragged nested sequences (which is a list-or-tuple of lists-or-tuples-or ndarrays with different lengths or shapes) is deprecated. If you meant to do this, you must specify 'dtype=object' when creating the ndarray.
  """

In [ ]:
Robert_De_Niro = pd.concat([mov2,prof2,gen2],axis =1)
Robert_De_Niro.sort_values('total_profit',ascending = False)

# <b><u> Problem 2 :</u> Top 3 directors prefer which actors the most?

In [ ]:
# Your code here 
def actor_name(index):
  for ele in no_null_df.loc[index,'cast']:
    if type(ele) == dict :
      return ele['name']

In [ ]:
def director_name(index):
   for ele in no_null_df.loc[index,'crew']:
       if ele['job'] == 'Director':
         
         return ele['name']

In [ ]:
table_director = pd.DataFrame(columns = ['Director_name','actor_name'])

In [ ]:
for index,j in no_null_df.iterrows():
  try:
    table_director = table_director.append({'Director_name' : director_name(index),'actor_name' : actor_name(index)},ignore_index = True )
  except:
    continue

In [ ]:
table_director

        Director_name       actor_name
0          Steve Pink      Rob Corddry
1      Garry Marshall    Anne Hathaway
2     Damien Chazelle     Miles Teller
3         Sujoy Ghosh      Vidya Balan
4      Jong-seok Yoon     Kim Kang-woo
...               ...              ...
2973    Dennis Hopper     Tom Berenger
2974  Lukas Moodysson  Mira Barkhammar
2975     Renny Harlin      Geena Davis
2976     John Hamburg      Ben Stiller
2977   John Singleton   Taylor Lautner

[2978 rows x 2 columns]

In [ ]:
table_director['Director_name'].value_counts().rename_axis('directors').reset_index(name = 'counts').head(3)

          directors  counts
0        Ron Howard      11
1    Clint Eastwood      11
2  Steven Spielberg      10

In [ ]:
top_3_direc = table_director[table_director['Director_name'].isin(['Ron Howard','Clint Eastwood','Steven Spielberg'])]
top_3_direc

In [ ]:
actors_list_ron = []
actors_list_clint = []
actors_list_steven = []
for index,row in top_3_direc.iterrows():
  if top_3_direc.loc[index,'Director_name'] == 'Ron Howard':
    actors_list_ron.append(top_3_direc.loc[index,'actor_name'])
  if top_3_direc.loc[index,'Director_name'] == 'Clint Eastwood':
    actors_list_clint.append(top_3_direc.loc[index,'actor_name'])
  if top_3_direc.loc[index,'Director_name'] == 'Steven Spielberg':
    actors_list_steven.append(top_3_direc.loc[index,'actor_name'])

In [ ]:
actor_prefer_ron_howard = list(set(actors_list_ron))
actor_Clint_Eastwood = list(set(actors_list_clint))
actor_prefer_Steven_Spielberg = list(set(actors_list_steven))

In [ ]:
actor_prefer_ron_howard

In [ ]:
actor_Clint_Eastwood

In [ ]:
actor_prefer_Steven_Spielberg

['Richard Dreyfuss',
 'Harrison Ford',
 'Tom Cruise',
 'Roy Scheider',
 'Tom Hanks',
 'Sam Neill',
 'Jamie Bell']

# <b><u>Problem 3 :</u> Make a table of all the producers and directors of each movie. Find the top 3 producers who have produced movies with the highest average RoI.

In [ ]:
# Hint below: Create a dataframe which looks like as shown
# DataFrame1
Movie    Producers     Directors

Movie1    [p1, p2]     [d1, d2]
Movie2    [p3, p4]     [d3, d4]

# DataFrame2
Movie    Producers       ROI
Movie1     p1            12
Movie1     p2            13
Movie2     p3            14
movie2     p4            15

# DataFrame3
Producer   Movies         Average_ROI
p1.    [m1, m2, m3]    avg_roi(m1, m2, m3)
p2     [m2, m4, m5]    avg_roi(m2, m4, m5)

In [ ]:
# Your code here

no_null_df['roi'] = (100*no_null_df['profit']) / no_null_df['budget']

no_null_df

In [ ]:
def get_director(index):
  # for index,j in no_null_df.iterrows():
    for ele in no_null_df.loc[index,'crew']:
      if ele['job'] =='Director':
        return ele['name']

In [ ]:
def get_producer(index):
  # for index,j in no_null_df.iterrows():
    for ele in no_null_df.loc[index,'crew']:
      if ele['job'] =='Producer':
        return ele['name']

In [ ]:
get_director(8)

'Brian Henson'

In [ ]:
get_producer(1)

'Andrew Panay'

In [ ]:
table_roi = pd.DataFrame(columns = ['Movie' , 'Producer_name' , 'Director_name' , 'roi'])

In [ ]:
for index,row in no_null_df.iterrows():
  try:
    table_roi = table_roi.append({'Movie' : no_null_df.loc[index,'original_title'],'Producer_name' : get_producer(index),'Director_name' : get_director(index),'roi' : no_null_df.loc[index,'roi']},ignore_index = True)
  except:
    continue

In [ ]:
table_roi

In [ ]:
top_3_roi = table_roi.groupby(['Producer_name','Movie'])['roi'].mean().reset_index().sort_values('roi',ascending = False).head(3)
top_3_roi

     Producer_name                    Movie           roi
1002    Jason Blum      Paranormal Activity  1.288939e+06
1922   Robin Cowie  The Blair Witch Project  4.132333e+05
1152   John Waters           Pink Flamingos  4.990000e+04